{extend name="../base" /}
{block name="title"}<title>{$info.title}{notempty name="$Request.param.current"}_第{$Request.param.current}页{/notempty}</title>{/block}
{block name="keywords"}<meta name="keywords" content="{$info.keywords}">{/block}
{block name="description"}<meta name="description" content="{$info.description}">{/block}
{block name="pagejs"}{__block__}{/block}
{block name="main"}
<!--栏目banner部分 Start-->
<section class="industry">
    <div class="d-flex channel container align-items-center">
        <div class="col col-md-6 mt-5 mt-md-0 text-white text-left">
            <h1 class="mb-4">{$info.cname}</h1>
            <p class="text-clamp-3 text-clamp-ellipsis">{$info.description}</p>
        </div>
    </div>
</section>
<!--栏目banner部分 End-->
<!--产品列表部分 Start-->
<section>
    <div class="container">
{include file="../basic/crumbs" /}
        <div class="row g-2 g-md-3">
{volist name="list" id="item" default="Empty List"}
            <div class="col-custom-5">
                <div class="border rounded ani-transform part-product-item">
                    <a href="{:url('productDetail', ['dirname' => $item.channel.dirname ?? '', 'id' => $item.id])}" target="_blank" class="text-reset text-decoration-none" title="{$item.title}">
                        <img alt="{$item.title}" class="img-fluid" src="{$item.album|first}">
                        <div class="part-product-item-desc">
                            <p class="fs-6 text-center text-ellipsis">{$item.title}</p>
                            <p class="text-muted text-start text-ellipsis">{$item.description}</p>
                            <div class="d-flex flex-wrap part-product-item-attr">
{volist name="item.special" id="item" default=""}
                                <span>{$item}</span>
{/volist}
                            </div>
                        </div>
                    </a>
                </div>
            </div>
{/volist}
            <nav aria-label="Page navigation">
                {$list|raw}
            </nav>
        </div>
    </div>
</section>
<!--产品列表部分 End-->
{/block}
{block name="customjs"}
<script>
    $(document).ready(function () {
        // 如果是移动端则删除描述内容与查看详情的按钮
        if (/iPad|iPhone|Android/i.test(navigator.userAgent)) {
            $('p').remove()
        }
    })
</script>
{/block}
