{extend name="../base" /}
{block name="title"}<title>{$channelinfo.title}</title>{/block}
{block name="keywords"}<meta name="keywords" content="{$channelinfo.keywords}">{/block}
{block name="description"}<meta name="description" content="{$channelinfo.description}">{/block}
{block name="pagejs"}{__block__}{/block}
{block name="main"}
<!--栏目banner部分 Start-->
<section class="industry">
    <div class="d-flex channel container align-items-center">
        <div class="col col-md-6 mt-5 mt-md-0 text-white text-left">
            <h1 class="mb-4">{$channelinfo.cname}</h1>
            <p class="text-clamp-3 text-clamp-ellipsis">{$channelinfo.description}</p>
        </div>
    </div>
</section>
<!--栏目banner部分 End-->
<!--产品列表部分 Start-->
<section>
    <div class="container">
{include file="../basic/crumbs" /}
        <!--产品分类列表 Start-->
        <div class="part-product-category">
            <ul class="list-group list-group-horizontal">
                <li class="list-group-item part-product-category-item">
                    <a href="#" class="text-reset text-decoration-none">
                        <div class="d-flex flex-column transition align-items-center justify-content-center">
                            <img class="img-fluid" alt="办公高拍仪" title="办公高拍仪" src="__STATIC__/static/icon/offices.png" data-origin="__STATIC__/static/icon/offices-1.png"/>
                            <span>办公高拍仪</span>
                        </div>
                    </a>
                </li>
                <li class="list-group-item part-product-category-item">
                    <a href="#" class="text-reset text-decoration-none">
                        <div class="d-flex flex-column transition align-items-center justify-content-center">
                            <img class="img-fluid" alt="教育高拍仪" title="教育高拍仪" src="__STATIC__/static/icon/education.png" data-origin="__STATIC__/static/icon/education-1.png"/>
                            <span>教育高拍仪</span>
                        </div>
                    </a>
                </li>
                <li class="list-group-item part-product-category-item">
                    <a href="#" class="text-reset text-decoration-none">
                        <div class="d-flex flex-column transition align-items-center justify-content-center">
                            <img class="img-fluid" alt="书籍高拍仪" title="书籍高拍仪" src="__STATIC__/static/icon/book.png" data-origin="__STATIC__/static/icon/book-1.png"/>
                            <span>书籍高拍仪</span>
                        </div>
                    </a>
                </li>
                <li class="list-group-item part-product-category-item">
                    <a href="#" class="text-reset text-decoration-none">
                        <div class="d-flex flex-column transition align-items-center justify-content-center">
                            <img class="img-fluid" alt="签批高拍仪" title="签批高拍仪" src="__STATIC__/static/icon/contract.png" data-origin="__STATIC__/static/icon/contract-1.png"/>
                            <span>签批高拍仪</span>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
        <!--产品分类列表 End-->
        <div class="row g-2 g-md-3">
{volist name="list" id="item" default="Empty List"}
            <div class="col-custom-5">
                <div class="border rounded ani-transform part-product-item">
                    <a href="{:url('productDetail', ['dirname' => $item.channel.dirname ?? '', 'id' => $item.id])}" target="_blank" class="text-reset text-decoration-none" title="{$item.title}">
                        <img alt="{$item.title}" class="img-fluid" src="{$item.album|first}">
                        <div class="part-product-item-desc">
                            <p class="fs-6 text-center text-ellipsis">{$item.title}</p>
                            <p class="text-muted text-start text-ellipsis">{$item.description}</p>
                            <div class="d-flex flex-wrap part-product-item-attr">
{volist name="item.special" id="item" default=""}
                                <span>{$item}</span>
{/volist}
                            </div>
                        </div>
                    </a>
                </div>
            </div>
{/volist}
        </div>
    </div>
</section>
<!--产品列表部分 End-->
{/block}
{block name="customjs"}
<script>
    $(document).ready(function () {
        // 如果是移动端则删除描述内容与查看详情的按钮
        if (/iPad|iPhone|Android/i.test(navigator.userAgent)) {
            $('p').remove()
        }
    })
</script>
{/block}
