<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title>高拍仪，视频展台，高拍仪产品，书籍高拍仪 - 田者高拍新闻资讯</title>
    <meta name="keywords" content="高拍仪,田者高拍,视频展台,高拍仪产品,书籍高拍仪,签批一体机,身份证阅读器">
    <meta name="description" content="田者高拍在高拍仪行业深耕多年，基于对高拍仪、视频展台、签批一体机、身份证阅读器等产品具备独有的嗅觉及见解，为广大客户提供最新的行业资讯。掌握商机，方能洞察先机">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="author" content="https://www.brandsz.cn"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {load href="__STATIC__/static/style/main.css,__STATIC__/static/js/jquery-3.5.1.min.js,__STATIC__/static/js/bootstrap.min.js,__STATIC__/static/js/main.js"}
</head>
<body>
{include file="../basic/header"}
<!--栏目banner部分 Start-->
<section class="industry">
    <div class="d-flex channel container align-items-center">
        <div class="col col-md-6 mt-5 mt-md-0 text-white text-left">
            <h1 class="mb-4">新闻资讯</h1>
            <p class="p12">田者高拍资讯频道囊括机器视觉、人工智能、深度学习、人脸识别技术等领域，洞察待机方能把握商机！</p>
        </div>
    </div>
</section>
<!--栏目banner部分 End-->
<!--文章列表部分 Start-->
<section>
    <div class="container part-artList">
        <nav aria-label="breadcrumb">
            <ol class="flex-nowrap breadcrumb">
                <li class="breadcrumb-item"><a href="/">首页</a></li>
                <li class="breadcrumb-item active" aria-current="page">新闻资讯</li>
            </ol>
        </nav>
        <div class="row">
            <!--左侧内容 Start-->
            <div class="col-12 col-md-8">
                <ul class="list-unstyled">
{volist name="result" id="item" empty="<p class='text-danger'>There is nothing</p>"}
                    <li>
                        <a href="/industry/{$item.id}.html" target="_blank" class="text-reset text-decoration-none" title="{$item.title}">
                            <div class="row gx-0 img-animated part-artList-item border-bottom-dashed">
                                <div class="col-5 col-md-3 exclude rounded overflow-hidden">
                                    <img alt="{$item.title}" class="img-fluid" title="{$item.title}" src="{$item.litpic}"/>
                                </div>
                                <div class="col-7 exclude col-md-9 part-artList-desc">
                                    <h3 class="transition text-clamp-2 text-clamp-ellipsis">{$item.title}</h3>
                                    <p class="text-muted text-clamp-2 text-clamp-ellipsis">{$item.description}</p>
                                    <div class="text-muted part-artList-detail">
                                        <span class="d-none d-md-inline">
                                            <svg class="bi align-text-top" width="16" height="16" fill="currentColor">
                                                <use xlink:href="/static/icon/bootstrap-icons.svg#geo-alt-fill"></use>
                                            </svg>{$item.channel.cname}
                                        </span>
                                        <span class="d-none d-md-inline">
                                            <svg class="bi align-text-top" width="16" height="16" fill="currentColor">
                                                <use xlink:href="/static/icon/bootstrap-icons.svg#person-fill"></use>
                                            </svg>{$item.author}
                                        </span>
                                        <span>
                                            <svg class="bi align-text-top" width="16" height="16" fill="currentColor">
                                                <use xlink:href="/static/icon/bootstrap-icons.svg#book"></use>
                                            </svg>{$item.click}
                                        </span>
                                        <span>
                                            <svg class="bi align-text-top" width="16" height="16" fill="currentColor">
                                                <use xlink:href="/static/icon/bootstrap-icons.svg#clock"></use>
                                            </svg>{$item.create_time|date='Y-m-d'}
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </li>
{/volist}
                    <li>
                        <nav aria-label="Page navigation">
                            {$result|raw}
                        </nav>
                    </li>
                </ul>
            </div>
            <!--左侧内容 End-->
            <!--右侧内容 Start-->
            <div class="col-12 d-none exclude col-md-4 d-md-block">
{include file="../basic/side-rightt-tags,../basic/side-right-recom"}
            </div>
            <!--右侧内容 End-->
        </div>
    </div>
</section>
<!--文章列表部分 End-->
{include file="../basic/footer"}
</body>
</html>
