                <!--热门资讯 Start-->
                <div class="d-flex flex-column position-relative">
                    <h4 class="part-artList-title">&nbsp;热门资讯</h4>
                    <!--大图部分 Start-->
                    <a title="盘点！智慧社区人脸识别门禁系统的三大优势" href="1.html" class="col-12 rounded img-animated part-artList-related">
                        <div class="top basetags"><i>TOP1</i></div>
                        <img alt="盘点！智慧社区人脸识别门禁系统的三大优势" class="img-fluid" src="__STATIC__/static/images/5fc860fb6b0cd.png">
                        <h2>盘点！智慧社区人脸识别门禁系统的三大优势</h2>
                    </a>
                    <a title="盘点！智慧社区人脸识别门禁系统的三大优势" href="1.html" class="col-12 rounded img-animated part-artList-related">
                        <div class="top1 basetags"><i>TOP2</i></div>
                        <img alt="盘点！智慧社区人脸识别门禁系统的三大优势" class="img-fluid" src="__STATIC__/static/images/5fc860fb6b0cd.png">
                        <h2>盘点！智慧社区人脸识别门禁系统的三大优势</h2>
                    </a>
                    <a title="盘点！智慧社区人脸识别门禁系统的三大优势" href="1.html" class="col-12 rounded img-animated part-artList-related">
                        <div class="top2 basetags"><i>TOP3</i></div>
                        <img alt="盘点！智慧社区人脸识别门禁系统的三大优势" class="img-fluid" src="__STATIC__/static/images/5fc860fb6b0cd.png">
                        <h2>盘点！智慧社区人脸识别门禁系统的三大优势</h2>
                    </a>
                    <!--大图部分 End-->
                    <!--小图部分 Start-->
                    <ul class="list-unstyled">
                        <li>
                            <a href="1.html" target="_blank" class="text-reset text-decoration-none" title="刷脸进村”智能人脸识别门禁助力乡镇疫情防控”">
                                <div class="row gx-3 img-animated part-artList-related-small">
                                    <div class="col-4 exclude position-relative">
                                        <div class="hot">热</div>
                                        <div class="rounded overflow-hidden">
                                            <img alt="刷脸进村”智能人脸识别门禁助力乡镇疫情防控”" class="img-fluid" src="__STATIC__/static/images/606eba23304ae.png">
                                        </div>
                                    </div>
                                    <div class="col-8 d-flex exclude flex-cloumn flex-wrap align-content-between">
                                        <h2>刷脸进村”智能人脸识别门禁助力乡镇疫情防控“</h2>
                                        <span>
                                            <svg class="bi align-text-top" width="16" height="16" fill="currentColor">
                                                <use xlink:href="/static/icon/bootstrap-icons.svg#clock"></use>
                                            </svg>2021-01-27
                                        </span>
                                    </div>
                                </div>
                            </a>
                        </li>
                    </ul>
                    <!--小图部分 End-->
                </div>
                <!--热门资讯 End-->