<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title>政务服务</title>
    <meta name="keywords" content="政务服务">
    <meta name="description" content="政务服务">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="author" content="https://www.brandsz.cn"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {load href="__STATIC__/static/style/main.css,__STATIC__/static/js/jquery-3.5.1.min.js,__STATIC__/static/js/bootstrap.min.js,__STATIC__/static/js/main.js"}
</head>
<body>
{include file="../common/header"}
{include file="../common/footer"}
</body>
</html>
