{extend name="../base" /}
{block name="title"}<title>{$info.title}</title>{/block}
{block name="keywords"}<meta name="keywords" content="{$info.keywords}">{/block}
{block name="description"}<meta name="description" content="{$info.description}">{/block}
{block name="pagejs"}{__block__}{/block}
{block name="main"}
<!--案例内容部分 Start-->
<section>
    <div class="container">
{include file="../basic/crumbs" /}
        <div class="part-case-content">
            <h2>{$info.title}</h2>
            <div>
                <div class="row g-2 g-md-3">
                    <div class="col-12 col-md-6">
                        <img class="img-fluid" alt="{$info.title}" title="{$info.title}" src="{$info.litpic}"/>
                    </div>
                    <div class="col-12 col-md-6 part-case-desc">
                        {$info.content.content|raw}
                    </div>
                </div>
            </div>
        </div>
        <div class="part-article-prenext">
            {present name="$prenext.pre.id"}
            <div class="transition text-ellipsis"><a href="{:url('caseDetail', ['id' => $prenext.pre.id])}" title="{$prenext.pre.title}">上一个：{$prenext.pre.title}</a></div>
            {else /}
            <div class="transition text-ellipsis"><a href="javascript:">上一个：{$prenext.pre.title}</a></div>
            {/present}
            {present name="$prenext.next.id"}
            <div class="transition text-ellipsis"><a href="{:url('caseDetail', ['id' => $prenext.next.id])}" title="{$prenext.next.title}">下一个：{$prenext.next.title}</a></div>
            {else /}
            <div class="transition text-ellipsis"><a href="javascript:">下一个：{$prenext.next.title}</a></div>
            {/present}
        </div>
    </div>
</section>
<!--案例内容部分 End-->
<!--合作咨询部分 Start-->
<section>
    <div class="container part-consulting">
        <div class="title">
            <h2>合作咨询</h2>
            <p class="text-muted">COOPERATION</p>
        </div>
        <div class="row g-5">
            <div class="col-12 col-md-6">
                <div class="part-consulting-content">
                    <p>如果您对我们的产品感兴趣,可以在线咨询或者提交您的需求，我们的专业人员会及时与您联系！</p>
                    <div class="d-grid gap-2 d-md-block">
                        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#formModal">提交留言</button>
                        <button type="button" class="btn me-2 btn-outline-danger" onclick="consulting()">在线咨询</button>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6">
                <div class="rounded overflow-hidden">
                    <img class="img-fluid" alt="合作咨询" title="合作咨询" src="__STATIC__/static/images/contact.png"/>
                </div>
            </div>
        </div>
    </div>
</section>
<!--合作咨询部分 End-->
{/block}
{block name="formModal"}{include file="../basic/formModal"}{/block}
{block name="customjs"}
<script>
    // 固定导航栏
    // FIXME:和首页导航栏冲突
    $(function() {
        const navbar = $('.navbar')
        navbar.addClass('bg-primary')
        navbar.removeClass('fixed-top')
    })
</script>
{/block}
