{extend name="../base" /}
{block name="title"}<title>{$channelinfo.title}</title>{/block}
{block name="keywords"}<meta name="keywords" content="{$channelinfo.keywords}">{/block}
{block name="description"}<meta name="description" content="{$channelinfo.description}">{/block}
{block name="pagejs"}{__block__}{/block}
{block name="main"}
<!--案例列表部分 Start-->
<section>
    <div class="container">
{include file="../basic/crumbs" /}
        <div class="part-case-list">
            <div class="row g-2 g-md-3">
{volist name="list" id="item" empty="There's nothing here..."}
                <div class="col-6 col-md-4">
                    <div class="card ani-transform part-case-item">
                        <img alt="{$item.litpic}" class="card-img-top" src="{$item.litpic}">
                        <div class="card-body">
                            <h5 class="card-title text-clamp-ellipsis text-clamp-2">{$item.title}</h5>
                            <p class="text-muted text-clamp-ellipsis text-clamp-3">{$item.description}</p>
                            <div class="gap-2 col-12 d-grid mx-auto col-md-6">
                                <a href="{:url('caseDetail', ['id' => $item.id])}" type="botton" class="btn btn-outline-danger">查看详情</a>
                            </div>
                        </div>
                    </div>
                </div>
{/volist}
            </div>
        </div>
        <nav aria-label="Page navigation">
            {$list|raw}
        </nav>
    </div>
</section>
<!--案例列表部分 End-->
{/block}
{block name="customjs"}
<script>
    // 固定导航栏
    // FIXME:和首页导航栏冲突
    $(function() {
        const navbar = $('.navbar')
        navbar.addClass('bg-primary')
        navbar.removeClass('fixed-top')
    })
</script>
{/block}
